.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    padding:20px;
  
}
.header__logo{
    height: 25px;
    object-fit: contain;
    margin-left: 20px;
}
.header__input{
    display: flex;
    border: 1px lightgray solid;
    width: 40%;
    align-items: center;
    
}
.header__icon{
    margin-right: 8px;
}
.header__inputbtn{
    width: 50px !important;
    background-color: #fafafa;
    border-left:1px solid lightgray ;
    color: gray;
}
.header__icons{
    display: flex;
    align-items: center;
}
.header__input > input{
    flex:1;
    /* flex:1; means max jitni space ise kr sakta hai use krlo */
    border: none;
}